.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
.idea/misc.xml
.idea/workspace.xml___jb_tmp___
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_chrome_driver_3_13_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_api_3_14_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_api_3_13_0.xml
.idea/libraries/Gradle__org_hamcrest_java_hamcrest_2_0_0_0.xml
.idea/libraries/Gradle__net_bytebuddy_byte_buddy_1_8_3.xml
.idea/libraries/Gradle__net_bytebuddy_byte_buddy_1_8_15.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_8_4.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_java_3_13_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_ie_driver_3_14_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_ie_driver_3_13_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_firefox_driver_3_14_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_firefox_driver_3_13_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_edge_driver_3_14_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_edge_driver_3_13_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_chrome_driver_3_14_0.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_8_4.xml
.idea/libraries/Gradle__net_bytebuddy_byte_buddy_1_8_3.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_api_3_13_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_chrome_driver_3_13_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_edge_driver_3_13_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_firefox_driver_3_13_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_ie_driver_3_13_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_java_3_13_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_java_3_14_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_opera_driver_3_13_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_opera_driver_3_14_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_remote_driver_3_13_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_remote_driver_3_14_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_safari_driver_3_13_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_safari_driver_3_14_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_support_3_13_0.xml
.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_support_3_14_0.xml
addressbok-web-tests/.idea/vcs.xml
addressbok-web-tests/.idea/vcs.xml
addressbok-web-tests/.idea/vcs.xml
addressbok-web-tests/.idea/workspace.xml
addressbok-web-tests/.idea/workspace.xml
addressbok-web-tests/.idea/vcs.xml
addressbok-web-tests/.idea/workspace.xml
addressbok-web-tests/.idea/workspace.xml
*.xml
addressbok-web-tests/out/production/classes/pl/stqa/pft/nabiezaco/Collections.class
addressbok-web-tests/out/production/classes/pl/stqa/pft/nabiezaco/Collections2.class
addressbok-web-tests/out/production/classes/pl/stqa/pft/nabiezaco/dlubanina.class
addressbok-web-tests/out/production/classes/pl/stqa/pft/nabiezaco/Equality.class
addressbok-web-tests/out/production/classes/pl/stqa/pft/nabiezaco/Equation.class
addressbok-web-tests/out/production/classes/pl/stqa/pft/nabiezaco/MyFirstProgram.class
addressbok-web-tests/out/production/classes/pl/stqa/pft/nabiezaco/Point.class
addressbok-web-tests/out/production/classes/pl/stqa/pft/nabiezaco/Primes.class
addressbok-web-tests/out/production/classes/pl/stqa/pft/nabiezaco/Rectangle.class
addressbok-web-tests/out/production/classes/pl/stqa/pft/nabiezaco/RoboczaPiaskownica.class
addressbok-web-tests/out/production/classes/pl/stqa/pft/nabiezaco/Square.class
addressbok-web-tests/out/test/classes/pl/stqa/pft/nabiezaco/EquationTests.class
addressbok-web-tests/out/test/classes/pl/stqa/pft/nabiezaco/PointTests.class
addressbok-web-tests/out/test/classes/pl/stqa/pft/nabiezaco/PrimeTests.class
addressbok-web-tests/out/test/classes/pl/stqa/pft/nabiezaco/sandbox.class
addressbok-web-tests/out/test/classes/pl/stqa/pft/nabiezaco/SquareTests.class
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/Collections.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/Collections2.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/dlubanina.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/Equality.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/Equation.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/MyFirstProgram.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/Point.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/Primes.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/Rectangle.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/RoboczaPiaskownica.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/Square.java
addressbok-web-tests/src/test/java/pl/stqa/pft/nabiezaco/EquationTests.java
addressbok-web-tests/src/test/java/pl/stqa/pft/nabiezaco/PointTests.java
addressbok-web-tests/src/test/java/pl/stqa/pft/nabiezaco/PrimeTests.java
addressbok-web-tests/src/test/java/pl/stqa/pft/nabiezaco/sandbox.java
addressbok-web-tests/src/test/java/pl/stqa/pft/nabiezaco/SquareTests.java
sandbox/src/main/java/pl/stqa/pft/sandbox/MyFirstProgram.java
sandbox/src/main/java/pl/stqa/pft/sandbox/Point.java
sandbox/src/test/java/pl/stqa/pft/sandbox/PointTests.java
sandbox/src/main/java/pl/stqa/pft/sandbox/MyFirstProgram.java
sandbox/src/main/java/pl/stqa/pft/sandbox/Point.java
sandbox/src/test/java/pl/stqa/pft/sandbox/PointTests.java
addressbok-web-tests/.idea/workspace.xml
addressbok-web-tests/.idea/workspace.xml
sandbox/src/main/java/pl/stqa/pft/nabiezaco/doSoapUI.java
addressbok-web-tests/.idea/workspace.xml
addressbok-web-tests/build/tmp/testContacts/jar_extract_9010297968366241383_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_880301019499233094_tmp
addressbok-web-tests/out/test/classes/pl/stqa/pft/addressbook/tests/TestBase.class
*.class
*.class
addressbok-web-tests/out/test/classes/pl/stqa/pft/addressbook/tests/GroupCreationTests$1.class
addressbok-web-tests/out/test/classes/pl/stqa/pft/addressbook/appmanager/ApplicationManager.class
addressbok-web-tests/build/tmp/testContacts/jar_extract_904762471352722598_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_8892133691015802936_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_857052906931295182_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_836916497404196804_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_8363518042237235268_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_7983891503789470456_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_7953131390594088228_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_7750725437598309416_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_7647427694176444105_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_7611287509224624854_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_74773143200935784_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_7308750388428389990_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_7175760275846707063_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_6825683733272909649_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_6614427391373805721_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_659047552167046420_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_6112432359059586339_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_6092786007261745548_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_5901487292316024427_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_5822072292209826861_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_568563988613804322_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_5609914566478858064_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_5554839176347233677_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_528734960559785756_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_5220375607135764183_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_5197172083752577904_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_5105938865481134449_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_5057836632144766450_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_5022181696601610688_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_4818361862062560786_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_458176200678680536_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_4563724641056795039_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_4510675905537154341_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_4273210405340309007_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_4203599870711054053_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_4188537101246458994_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_4067964611032177697_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_379683568932873632_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_3588949805186112338_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_3490879439528122173_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_3288800224765875290_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_3185506610100344717_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_3125397540853156759_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_3065949794503475665_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_3043007356392442385_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_3015563731513081310_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_2665375945693852764_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_2448728206008575945_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_2210144410405523026_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_2167224389941000114_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_2070965546271163302_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_1776322162565089231_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_1771557517519898806_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_1770128345215615942_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_1747676917649060309_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_1654310488009009505_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_1604238969018158166_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_155194357178178417_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_1457431464189564402_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_1310420997377061446_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_1301074234522413551_tmp
addressbok-web-tests/build/tmp/test/jar_extract_9005958461899512302_tmp
addressbok-web-tests/build/tmp/test/jar_extract_8993603049187333024_tmp
addressbok-web-tests/build/tmp/test/jar_extract_851177916397729195_tmp
addressbok-web-tests/build/tmp/test/jar_extract_7861368493125399987_tmp
addressbok-web-tests/build/tmp/test/jar_extract_698409444688940757_tmp
addressbok-web-tests/build/tmp/test/jar_extract_6477762104166176980_tmp
addressbok-web-tests/build/tmp/test/jar_extract_4585627373459223000_tmp
addressbok-web-tests/build/tmp/test/jar_extract_2904610321226987499_tmp
addressbok-web-tests/build/tmp/test/jar_extract_2592424549662043656_tmp
addressbok-web-tests/build/tmp/test/jar_extract_2547369712800681629_tmp
addressbok-web-tests/build/tmp/test/jar_extract_2278427725901421881_tmp
addressbok-web-tests/build/tmp/test/jar_extract_2066869915399822009_tmp
addressbok-web-tests/build/test-results/testContacts/binary/results.bin
addressbok-web-tests/build/test-results/testContacts/binary/output.bin.idx
addressbok-web-tests/build/test-results/testContacts/binary/output.bin
*.html
*.class
*.class
addressbok-web-tests/.idea/workspace.xml
