.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
*.class
*_tmp
*.html
.idea/*
addressbok-web-tests/.idea/*
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/Collections.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/Collections2.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/dlubanina.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/Equality.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/Equation.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/MyFirstProgram.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/Point.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/Primes.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/Rectangle.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/RoboczaPiaskownica.java
addressbok-web-tests/src/main/java/pl/stqa/pft/nabiezaco/Square.java
addressbok-web-tests/src/test/java/pl/stqa/pft/nabiezaco/EquationTests.java
addressbok-web-tests/src/test/java/pl/stqa/pft/nabiezaco/PointTests.java
addressbok-web-tests/src/test/java/pl/stqa/pft/nabiezaco/PrimeTests.java
addressbok-web-tests/src/test/java/pl/stqa/pft/nabiezaco/sandbox.java
addressbok-web-tests/src/test/java/pl/stqa/pft/nabiezaco/SquareTests.java
sandbox/src/main/java/pl/stqa/pft/sandbox/MyFirstProgram.java
sandbox/src/main/java/pl/stqa/pft/sandbox/Point.java
sandbox/src/test/java/pl/stqa/pft/sandbox/PointTests.java
sandbox/src/main/java/pl/stqa/pft/sandbox/MyFirstProgram.java
sandbox/src/main/java/pl/stqa/pft/sandbox/Point.java
sandbox/src/test/java/pl/stqa/pft/sandbox/PointTests.java
sandbox/src/main/java/pl/stqa/pft/nabiezaco/doSoapUI.java
addressbok-web-tests/build/tmp/testContacts/jar_extract_9010297968366241383_tmp
addressbok-web-tests/build/tmp/testContacts/jar_extract_880301019499233094_tmp
addressbok-web-tests/build/test-results/testContacts/binary/results.bin
addressbok-web-tests/build/test-results/testContacts/binary/output.bin.idx
addressbok-web-tests/build/test-results/testContacts/binary/output.bin
